@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none !important;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.logo {
  margin: auto;
  text-align: center;
}
.logo img {
  padding: 20px 0px;
  width: 150px;
}

header {
  width: 100%;
  background-color: #161616;
  color: white;
  padding: 10px 0px;
}
.contentHeader {
  max-width: 1100px;
  display: flex;
  margin: auto;
}
.contentHeader ul {
  display: flex;
  position: relative;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.contentHeader ul li {
  margin: 0px 30px;
  list-style-type: none;
  z-index: 1;
  font-size: 14px;
  display: inline-block;
  position: relative;
}
.contentHeader ul li a {
  text-decoration: none;
  color: #f6f6f6;
  text-transform: uppercase;
}

ul li:not(:last-child)::after {
  content: "";
  border: 0.3px solid #f6f6f6;
  border-width: 0px 0.3px 0 0;
  position: absolute;
  right: -30px;
  height: 100%;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
.interest {
  position: relative;
  width: 100%;
  margin: 3rem 0px;
  height: 450px;
}
.interest img {
  position: absolute;
  left: 0px;
  height: auto;
  width: 50%;
  max-height: 450px;
  object-fit: cover;
}
.interestContent {
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
  z-index: 2;
  height: inherit;
  max-width: 1100px;
  margin: auto;
}
.interestContainer {
  width: 800px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.interestContentText {
  background-color: #161616;
  color: #f6f6f6;
  padding: 30px;
  width: 50%;
  height: 330px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.interestContentText h1 {
  font-size: 23px;
  line-height: 40px;
  margin-top: 20px;
  text-transform: capitalize;
}
.interestContentForm {
  width: 50%;
  height: 330px;
  margin-top: 30px;
}

.interestContentForm h2 {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 18px;
}
.interestContentForm p {
  text-transform: uppercase;
  font-size: 12px;
}
.interestContentForm h2,
p {
  text-align: center;
}
.interestContentForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.interestContentForm form input,
select {
  margin-top: 20px;
  outline: 0;
  margin-bottom: 15px;
  width: 100%;
  border: 0px;
  background-color: transparent;
  border-bottom: 1px solid #f6f6f6;
  color: #c1c1c1;
}
.interestContentForm .all {
  width: 100%;
}

.interestContentForm .divide {
  width: 100%;
  display: flex;
  gap: 30px;
}
.check {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.check p {
  text-align: left;
  font-size: 10px;
  text-transform: capitalize;
}
.check input {
  margin: 0px;
  padding: 0px;
  max-width: 15px;
  margin-right: 10px;
}
.high {
  background: url("https://images.unsplash.com/photo-1602028915047-37269d1a73f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
    100% / cover no-repeat;
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}
.highContent {
  max-width: 1100px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: inherit;
  padding-bottom: 20px;
}
.highContent h1 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-weight: 500;
  z-index: 1;
  position: relative;
  color: white;
  text-transform: uppercase;
}

.high:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.store {
  background-color: #f1f1f1;
  width: 100%;
  padding: 8rem 0px 4rem;
  position: relative;
}
.storeContent {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 80px;
  height: auto;
}
.storeContentLeft {
  width: 50%;
  height: inherit;
  position: relative;
  z-index: 1;
}
.storeContentLeft p {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 15px;
}
.storeContentRight {
  width: 50%;
}
.logoStore {
  gap: 30px;
  position: absolute;
  transform-origin: top left;
  display: flex;
  width: 71%;
  left: -85px;
  align-items: center;
  transform: rotate(-90deg);
  top: 95%;
  justify-content: space-between;
}
.logoStore img {
  height: 40px;
}
.lineV {
  margin-top: 10px;
  width: 100%;
  border: 1px solid black;
}
.storeContentRight {
  position: relative;
  display: flex;
  z-index: 99;
  justify-content: space-between;
}

.slide {
  position: relative;
  display: flex;
  gap: 30px;
  z-index: 99;
  width: 100%;
}
.slideSingle {
  display: flex;
  width: 33%;
  gap: 30px;
}
.slide img {
  width: 100%;
  object-fit: cover;
}
.backgroundSlide {
  background-color: #161616;
  position: absolute;
  width: 50%;
  right: 0;
  transform: translate(0%, -50%);
  top: 53%;
  z-index: 0;
  height: 55%;
}

.relation {
  height: auto;
  position: relative;
  margin: 5rem auto 2rem;
  width: 100%;
}
.relationContent {
  margin: auto;
  max-width: 1100px;
  display: flex;
  gap: 40px;
  align-items: flex-end;
}
.relationLeft {
  width: 70%;
  z-index: 2;
}
.relationLeft img {
  width: 100%;
  display: block;
}
.relationRight {
  width: 30%;
  max-width: 30%;
}
.backgroundRelation {
  background-color: #161616;
  position: absolute;
  width: 60%;
  left: 0%;
  transform: translate(0%, -50%);
  top: 50%;
  z-index: 0;
  height: 110%;
  display: flex;
  z-index: 1;
}
.relationRight h1 {
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}

.moreText {
  margin-top: 4rem;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.moreText p {
  text-align: right;
}
.moreTextContent {
  max-width: 75%;
}
.infos {
  max-width: 1100px;
  margin: 6rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}
.singleInfo {
  flex-grow: 1;
  width: 33%;
  max-width: 260px;
  flex-direction: column;
}

.singleInfoTop {
  display: flex;
  position: relative;
}
.singleInfoTop img {
  height: 40px;
  margin-right: 30px;
}
.singleInfoTop h3 {
  font-size: 15px;
  font-weight: 600;
  max-width: 100px;
  line-height: 20px;
}
.singleInfoTop::after {
  content: "";
  width: 1px;
  top: 0;
  height: 100%;
  background: #161616;
  position: absolute;
  left: 100%;
}
.singleInfoBottom p {
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
}
